body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  body, .light, .dark, #quote-box {
    transition: background-color 0.5s ease, color 0.3s ease;
  }
  
  
  .light {
    background-color: whitesmoke;
    color: #1a202c;
  }
  
  .dark {
    background-color: #1a202c;
    color: #f7fafc;
  }
  
  .container {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-direction: column;
  }
  
  .quote-box {
    background: white;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
  }

  .dark .quote-box{
    background-color: rgba(51, 61, 83, 0.8); /* or #2d3748 */
    color: #f7fafc;
  }
  
  button {
    margin: 0.5rem;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button.primary {
    background-color: #007BFF;
    color: white;
  }
  
  button.secondary {
    background-color: transparent;
    border: 2px solid #007BFF;
    color: #007BFF;
  }
  
  .favorites {
    margin-top: 2rem;
    max-width: 600px;
    width: 100%;
  }
  

  .footer {
    background-color: grey;
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center;    /* centers vertically */
    min-height: 10vh;
    text-align: center;
    font-size: 0.9rem;
  }
  